.banner__subtitle {
  max-width: 360px;

  margin: 0;
  padding: 16px 16px 33px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .banner__subtitle {
    padding-top: 32px;
    padding-bottom: 115px;

    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1024px) {
  .banner__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .banner__subtitle {
    padding-bottom: 245px;
  }
}
