.banner__title {
  max-width: 560px;

  margin: 0 auto;
  padding: 33px 16px 0;

  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .banner__title {
    padding-top: 115px;

    font-size: 72px;
    line-height: 1.05;
  }
}

@media screen and (min-width: 1024px) {
  .banner__title {
    padding-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .banner__title {
    padding-top: 245px;
  }
}
